<h3>
    Formulario de pasajeros
</h3>
<form (ngSubmit)="actualizar(f)" #f="ngForm">
    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="idvuelo">Id Vuelo</label>
            <input type="text" [(ngModel)]="persona.idVuelo" class="form-control" id="id" name="idvuelo">
        </div>
        <div class="form-group col-md-6">
            <label for="Cedula">Cedula</label>
            <input type="number" [(ngModel)]="persona.ccPasajero" class="form-control" id="Cedula" name="cedula">
        </div>
    </div>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" [(ngModel)]="persona.nomPasajero" class="form-control" id="nombre" name="nombre">
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" [(ngModel)]="persona.apellidoPasajero" class="form-control" id="apellido" name="apellido">
    </div>
    <button type="submit" class="btn btn-primary md-6">Guardar</button>
    <button [routerLink]="['/home']" type="button" class="btn btn-primary ml-3">Regresar</button>
</form>